/* Fontes */
@font-face {
    font-family: 'Flexo';
    src: url('../fonts/Flexo-Demi.eot');
    src: url('../fonts/Flexo-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Flexo-Demi.woff2') format('woff2'),
        url('../fonts/Flexo-Demi.woff') format('woff'),
        url('../fonts/Flexo-Demi.svg#Flexo-Demi') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('../fonts/Flexo-Medium.eot');
    src: url('../fonts/Flexo-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Flexo-Medium.woff2') format('woff2'),
        url('../fonts/Flexo-Medium.woff') format('woff'),
        url('../fonts/Flexo-Medium.svg#.Flexo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Geral */

*{
	outline: 0 !important;
}

body{
	background: #efefef;
	font-family: 'Roboto', sans-serif;
}

img{
	height: auto;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Flexo', sans-serif;
	font-weight: 600;
}

a:hover{
	text-decoration: none;
}

a.ver-todos{
	display: block;
	font: 18px 'Flexo', sans-serif;
	font-weight: 600;
	text-align: center;
	width: 100%;
}

a.ver-mais{
	font: 18px 'Flexo', sans-serif;
	font-weight: 600;
}

/* Header */

header{
	background: #001c90;
	color: #fff;
	padding: 15px 0;
}

.brand img{
	max-height: 70px;
}

/* Menu Horizontal */

.menu-horizontal{
	background: #fff;
}

.nav-principal{
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.menu-horizontal .nav-principal.navbar-light .navbar-toggler{
	align-items: center;
	border-color: #fff;
	color:  #001c90;
	display: flex;
	text-transform: uppercase;
}

.menu-horizontal .nav-principal.navbar-light .navbar-toggler:hover,
.menu-horizontal .nav-principal.navbar-light .navbar-toggler:focus{
	border-color: #000;
	box-shadow: 0 !important;
	color:  #000;
	outline: 0 !important;
}

.menu-horizontal .nav-principal .menu-item{
	color: #001c90;
	font: 18px 'Flexo', sans-serif;
	text-decoration: none;
}

.menu-horizontal .nav-principal .menu-item:hover{
	color: #000;
}

.menu-horizontal .nav-principal .navbar-toggler-name{
	display: block;
	padding-left: .5rem;
}

.menu-horizontal .nav-principal ul{
	margin: 0;
}

.menu-horizontal .nav-principal li{
	display: inline-flex;
	list-style: none;
	padding: 10px;
}

/* Mega Menu */

.mega-menu{
	background: #fff;
}

/* Redes Sociais */

.redes-sociais{
	border-right: 1px solid #fff;
}

.redes-sociais .icones{
	max-height: 40px;
	padding: 5px;
}

/* Busca */

.bi-search{
	color: #fff;
}

/* Usuários */

.user{
	font: 20px 'Flexo', sans-serif;
	font-weight: 600;
}

/* Slider */

#carouselDestaque .carousel-indicators [data-bs-target]{
	background-color: #000;
	opacity: 1;
}

#carouselDestaque .carousel-indicators .active{
	background-color: #001c90;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
	filter: invert(100%);
}

.carousel-control-next, 
.carousel-control-prev{
	width: 5%;
}

/* Comunicados */

.comunicados .btn-group .btn-secondary{
	background: #fff;
	border-color: #fff;
	box-shadow: none;
	color: #001c90;
	text-align: left;
	white-space: normal;
}

.comunicados .btn-group{
	width: 100%;
}

.comunicados h2{
	color: #001c90;
	font-family: 'Flexo', sans-serif;;
	margin: 5px 0;
}

.comunicados .dropdown-toggle{
	font: 18px 'Flexo', sans-serif;
	font-weight: 600;
}

.comunicados .dropdown-item{
	font-family: 'Flexo', sans-serif;
	font-weight: 500;
}

.comunicados .comunicado-thumbnail{
	height: 330px;
	overflow: hidden;
}

.comunicados a{
	color: #001c90;
}

/* Boletins */

.boletins,
.boletins a{
	color: #055855;
}

.boletins span,
.boletins .data{
	font: 16px 'Flexo', sans-serif;
	font-weight: 500;
}

.boletins h3{
	font: 26px 'Flexo', sans-serif;
	font-weight: 500;
}

.boletins img.logo-boletim{
	max-height: 60px;
	width: auto;
}

.boletins .descricao{
	color: #000;
	font-size: 16px;
}

.boletins .btn.download{
	background: #055855;
	color: #fff;
	font: 18px 'Flexo', sans-serif;
	font-weight: 600;
	width: 100%;
}

/* Youtube */

.youtube h2{
	align-items: flex-start;
	display: flex;
}

.youtube h2 img{
	margin-right: 15px;
}

.youtube .programas{
	padding-bottom: 20px;
	padding-top: 20px;
}

.youtube a{
	color: #000;
}

/* Especial Saúde */

.especial-saude{
	color: #3fbb00;
	padding-bottom: 20px;
	padding-top: 20px;
}

.especial-saude h2{
	text-align: center;
}

.especial-saude h3{
	font-size: 22px;
	margin: 15px 0;
}

.especial-saude img{
	max-width: 120px;
}

/* Fala Gestor */

.fala-gestor,
.fala-gestor a{
	color: #001c90;
}

.fala-gestor .cargo{
	color: #001c90;
	font: 18px 'Flexo', sans-serif;
	font-weight: 500;
}

.fala-gestor .descricao,
.eventos .descricao{
	color: #000;
}

.fala-gestor h2 img{
	margin-right: 15px;
	max-height: 40px;
	width: auto;
}

/* Eventos */

.eventos,
.eventos a{
	color: #ff8400;
}

.eventos .data,
.eventos .local{
	color: #ff8400;
	font: 18px 'Flexo', sans-serif;
	font-weight: 500;
	margin: 0;
}

.eventos h2 img{
	margin-right: 15px;
	max-height: 40px;
	width: auto;
}

/* Footer */

.footer{
	background: #001c90;
	color: #fff;
	font-size: 14px;
	padding: 10px;
}

.footer .copyright{
	margin: 0;
}