/* Geral */

*{
	outline: 0 !important;
}

body{
	background: #efefef;
	font-family: 'Roboto', sans-serif;
}

img{
	height: auto;
	max-width: 100%;
}

/* Header */

header{
	background: #001c90;
	color: #fff;
	padding: 15px 0;
}

.brand img{
	max-height: 70px;
}

/* Slider */

#carouselDestaque .carousel-indicators [data-bs-target]{
	background-color: #000;
	opacity: 1;
}

#carouselDestaque .carousel-indicators .active{
	background-color: #001c90;
}

/* Comunicados */

.comunicados .btn-group .btn-secondary{
	background: #fff;
	border-color: #fff;
	color: #001c90;
	text-align: left;
	white-space: normal;
}

.comunicados .btn-group{
	width: 100%;
}

.acesse{
	color: #001c90;
	font-size: 14px;
	margin: 0 0 5px;
}

/* Footer */

.footer{
	background: #001c90;
	color: #fff;
	font-size: 14px;
	padding: 10px;
}

.footer .copyright{
	margin: 0;
}