/* Fontes */
@font-face {
    font-family: 'Flexo';
    src: url('../fonts/Flexo-Demi.eot');
    src: url('../fonts/Flexo-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Flexo-Demi.woff2') format('woff2'),
        url('../fonts/Flexo-Demi.woff') format('woff'),
        url('../fonts/Flexo-Demi.svg#Flexo-Demi') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('../fonts/Flexo-Medium.eot');
    src: url('../fonts/Flexo-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Flexo-Medium.woff2') format('woff2'),
        url('../fonts/Flexo-Medium.woff') format('woff'),
        url('../fonts/Flexo-Medium.svg#.Flexo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype'),
        url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Geral */

*{
	outline: 0 !important;
}

body{
	background: #efefef;
	font-family: 'Roboto', sans-serif;
}

img{
	height: auto;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Flexo', sans-serif;
	font-weight: 600;
}

a:hover{
	text-decoration: none;
}

a.ver-todos{
	display: block;
	font: 18px 'Flexo', sans-serif;
	font-weight: 600;
	text-align: center;
	width: 100%;
}

a.ver-mais{
	font: 18px 'Flexo', sans-serif;
	font-weight: 600;
}

/* Cores */

.azul{
	color: #001c90;
}

.verde{
	color: #055855;
}

.verde-saude{
	color: #66b800;
}

.laranja{
	color: #fc8200;
}

/* Bootstrap - 5 colunas */

.col-15 {
  flex: 0 0 auto;
  width: 20%;
}

@media (min-width: 768px){

    .col-md-15 {
        flex: 0 0 auto;
        width: 20%;
    }

}

@media (min-width: 992px){

    .col-lg-15 {
        flex: 0 0 auto;
        width: 20%;
    }

}

@media (min-width: 1200px){

    .col-xl-15 {
        flex: 0 0 auto;
        width: 20%;
    }

}

@media (min-width: 1400px){

    .col-xxl-15 {
        flex: 0 0 auto;
        width: 20%;
    }

}

/* Header */

header{
	background: #001c90;
	color: #fff;
	padding: 15px 0;
}

.brand img{
	max-height: 70px;
}

/* Menu Horizontal */


.nav-principal #navbarSupportedContent{
	justify-content: space-between;
}

.nav-principal #navbarSupportedContent{

}

.menu-horizontal{
	background: #fff;
}

.menu-horizontal .menu-level-2 a{
	color: #000 !important;
}
.menu-horizontal .navbar-light .navbar-toggler{
	align-items: center;
	border-color: #001c90;
	color:  #001c90;
	justify-content: space-between;
}

.menu-horizontal .nav-principal.navbar-light .navbar-toggler:hover,
.menu-horizontal .nav-principal.navbar-light .navbar-toggler:focus,
.menu-horizontal .nav-principal.navbar-light .navbar-toggler:active{
	border-color: #000;
	box-shadow: none;
	color:  #000;
	outline: 0 !important;
}

.menu-horizontal .nav-principal .menu-item{
	color: #001c90;
	font: 18px 'Flexo', sans-serif;
	text-decoration: none;
}

.menu-horizontal .nav-principal .menu-item:hover{
	color: #000;
}

.menu-horizontal .nav-principal .navbar-toggler-name{
	display: block;
	padding-left: .5rem;
}

.menu-horizontal .nav-principal ul{
	margin: 0;
}

.menu-horizontal .nav-principal li{
	display: inline-flex;
	list-style: none;
	padding: 10px;
}

/* Mega Menu */

header, 
.menu-horizontal, 
main,
footer {
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
}

.menu-active{
	overflow-x: hidden;
}

.menu-active header, 
.menu-active .menu-horizontal, 
.menu-active main,
.menu-active footer {
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(300px);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
}

.menu-active .mega-menu{
	-webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.mega-menu{
	background: #e3e3e3;
	height: 100%;
	left: 0;
	overflow: auto;
	padding: 15px;
	position: fixed;
	top: 0;
	width: 300px;
	-webkit-transform: translateX(-280px);
    -moz-transform: translateX(-280px);
    -ms-transform: translateX(-280px);
    transform: translateX(-280px);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
}

.mega-menu ul{
	padding: 0;
}

.mega-menu li{
	list-style: none;
}

.mega-menu li a{
	color: #000;
	text-decoration: none;
}

.mega-menu li a:hover{
	color: #001c90;
}

.mega-menu .menu{
	position: relative;
}

.mega-menu .menu li{
	width: 100%;	
}

.mega-menu .menu > li > a.nav-link{
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	border-radius: 0 !important;
	color: #001c90;
	font-size: 13px;
	font-weight: 600;
	padding: 5px 0;
	width: 100%;
}

.mega-menu .menu a.nav-link:hover{
	border-color: #000;
	color: #000;
}

.mega-menu .menu a.nav-link.active{
	background: #d6d6d6;
	border-bottom: rgba(0, 0, 0, 1) !important;
	color: #000;
}

.mega-menu .menu-level-1 > li{
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	font-size: 13px;
	font-weight: bold;
	padding: 5px 0;
	width: 100%;
}

.mega-menu .menu-level-1 > li a.nav-link{
	border-bottom: 0;
	font-size: 13px;
	padding: 5px 0;
}

.mega-menu .menu-level-2 > li{
	font-weight: 500;
	padding-bottom: 5px;
	padding-top: 5px;
	text-transform: none;
}

.mega-menu .menu-level-3 > li{
	font-weight: normal;
	padding-left: 10px;
}

.mega-menu .menu-level-3 > li:before{
	content: "-";
	padding-right: 5px;
}

.mega-menu .menu-level-1,
.mega-menu .menu-level-2,
.mega-menu .menu-level-3{
	display: none;
	padding: 0 15px;
}

.mega-menu .ativo + ul{
	display: block;
}

.mega-menu .nav-link{
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	display: flex;
	font-size: 13px;
	font-weight: 600;
}

/* Redes Sociais */

.redes-sociais{
	border-right: 1px solid #fff;
}

.redes-sociais .icones{
	max-height: 40px;
	padding: 5px;
}

/* Busca */

.bi-search{
	color: #fff;
}

.search{
	background: #fff;
}

/* Usuários */

.user{
	font: 20px 'Flexo', sans-serif;
	font-weight: 600;
}

.user .rounded-circle{
	max-height: 50px;
}

.user .dropdown-menu a{
	color: #001c90;
	text-decoration: none;
}

.user .dropdown-menu a:hover{
	color: #000;
}

/* Slider */

#carouselDestaque .carousel-indicators [data-bs-target]{
	background-color: #000;
	opacity: 1;
}

#carouselDestaque .carousel-indicators .active{
	background-color: #001c90;
}

#carouselDestaque .carousel-item{
	max-height: 440px;
	overflow: hidden;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
	filter: invert(100%);
}

.carousel-control-next, 
.carousel-control-prev{
	width: 5%;
}

/* Comunicados */

.comunicados .btn-group .btn-secondary{
	background: #fff;
	border-color: #fff;
	box-shadow: none;
	color: #001c90;
	text-align: left;
	white-space: normal;
}

.comunicados .btn-group{
	width: 100%;
}

.comunicados h2{
	color: #001c90;
	font-family: 'Flexo', sans-serif;;
	margin: 5px 0;
}

.comunicados .dropdown-toggle{
	font: 18px 'Flexo', sans-serif;
	font-weight: 600;
}

.comunicados .dropdown-item{
	font-family: 'Flexo', sans-serif;
	font-weight: 500;
}

.comunicados .comunicado-thumbnail{
	height: 330px;
	overflow: hidden;
}

.comunicados a{
	color: #001c90;
}

/* Comunicados - página */

h3.titulo-veja-tambem{
	font-size: 24px;
	font-weight: 600;
}

a.bt-download{
	display: block;
	font: 18px 'Flexo', sans-serif;
	font-weight: 600;
	padding: 10px;
	text-align: center;
	width: 100%;
}

.pagination a{
	background: 0;
	color: #001c90;
}

/* Boletins */

.boletins,
.boletins a{
	color: #055855;
}

.boletins span,
.boletins .data{
	font: 16px 'Flexo', sans-serif;
	font-weight: 500;
}

.boletins h3{
	font: 26px 'Flexo', sans-serif;
	font-weight: 500;
}

.boletins img.logo-boletim{
	max-height: 60px;
	width: auto;
}

.boletins .descricao{
	color: #000;
	font-size: 16px;
}

.boletins .btn.download{
	background: #055855;
	color: #fff;
	font: 18px 'Flexo', sans-serif;
	font-weight: 600;
	width: 100%;
}

/* Youtube */

.youtube h2{
	align-items: flex-start;
	display: flex;
}

.youtube h2 img{
	margin-right: 15px;
}

.youtube .programas{
	padding-bottom: 20px;
	padding-top: 20px;
}

.youtube a{
	color: #000;
}

.capa{
	margin-bottom: 15px;
}

/* + Saúde para você */

.especial-saude{
	color: #3fbb00;
	padding-bottom: 20px;
	padding-top: 20px;
}

.especial-saude h2{
	text-align: center;
}

.especial-saude h3{
	font-size: 22px;
	margin: 15px 0;
}

.especial-saude img{
	height: 120px;
	max-width: 120px;
}

.especial-saude .link-especial-saude{
	color: #3fbb00;
	text-decoration: none;
}

.mais-saude ul{
	padding: 0;
}
.mais-saude li{
	list-style: none;
}

.mais-saude a{
	color: #66b800;
	text-decoration: none;
}

.mais-saude a:hover{
	text-decoration: underline;
}

/* Fala Gestor */

.fala-gestor,
.fala-gestor a{
	color: #001c90;
}

.header-gestor .cargo,
.fala-gestor .cargo{
	color: #001c90;
	font: 18px 'Flexo', sans-serif;
	font-weight: 500;
}

.fala-gestor .descricao,
.eventos .descricao{
	color: #000;
}

.fala-gestor h2 a{
	text-decoration: none;
}

.fala-gestor h2 img{
	margin-right: 15px;
	max-height: 40px;
	width: auto;
}

.titulo-fala-gestor{
	font-size: 30px;
	text-align: center;
}

/* Eventos */

.eventos,
.eventos a{
	color: #ff8400;
}

.eventos .data,
.eventos .local,
.evento-detalhes .data,
.evento-detalhes .local{
	color: #ff8400;
	font: 18px 'Flexo', sans-serif;
	font-weight: 500;
	margin: 0;
}

.evento-detalhes h3,
.evento-detalhes h3 a,
.eventos h2 a{
	color: #ff8400;
	text-decoration: none;
}

.eventos h2 img{
	margin-right: 15px;
	max-height: 40px;
	width: auto;
}

.evento-detalhes{
	font-family:'Flexo', sans-serif;
}

h4.info-localizacao{
	color: #ff8400;
	font-size: 20px;
}
h4.info-localizacao span{
	display: block;
}

.ver-mais.laranja:hover{
	color: #ff8400;
}

/* Footer */

.footer{
	background: #001c90;
	color: #fff;
	font-size: 14px;
	padding: 10px;
}

.footer .copyright{
	margin: 0;
}